menuconfig ARCH_ASPEED
	bool "ASpeed BMC SoCs" if ARCH_MULTI_V5
	select CPU_ARM926T
	select CLKSRC_MMIO
	select GENERIC_IRQ_CHIP
	select ARCH_REQUIRE_GPIOLIB
	select PINCTRL
	select PINCTRL_ASPEED
	select PHYLIB if NETDEVICES
	help
	  Say Y here if you want to run your kernel on hardware with an
	  ASpeed BMC SoC. Tested on AST2400

if ARCH_ASPEED

config MACH_OPP_PALMETTO_BMC
	bool "OpenPower Palmetto"
	depends on ARCH_ASPEED
	help
	  Say Y here if you intend to run this kernel on the BMC
	  of an OpenPower "Palmetto" eval board

endif
