/dts-v1/;

#include "aspeed-g5.dtsi"

/ {
	model = "FACEBOOK CMM BMC";
	compatible = "facebook,cmm-bmc", "aspeed,ast2500";

	aliases {
		serial1 = &uart1;
	};

	chosen {
		stdout-path = &uart1;
		bootargs = "console=ttyS1,115200 earlyprintk";
	};

	memory {
		reg = <0x80000000 0x3f000000>;
	};

	ahb {
		bmc_pnor: fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,ast2400-fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
#include "aspeed-bmc-facebook-cmm-flash-layout.dtsi"
			};
		};
	};
};

&uart1 {
	status = "okay";
};

&mac1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};
