/dts-v1/;

#include "aspeed-g4.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Quanta Q71L BMC";
	compatible = "quanta,q71l-bmc", "aspeed,ast2400";

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200 earlyprintk";
	};

	memory {
		reg = <0x40000000 0x8000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vga_memory: framebuffer@47800000 {
			no-map;
			reg = <0x47800000 0x00800000>; /* 8MB */
		};
	};

	leds {
		compatible = "gpio-leds";

		heartbeat {
			gpios = <&gpio ASPEED_GPIO(B, 0) GPIO_ACTIVE_LOW>;
		};

		power {
			gpios = <&gpio ASPEED_GPIO(B, 2) GPIO_ACTIVE_LOW>;
		};

		identify {
			gpios = <&gpio ASPEED_GPIO(B, 3) GPIO_ACTIVE_LOW>;
		};
	};

	pwm_tacho: pwm-tacho-controller@1e786000 {
		compatible = "aspeed,ast2500-pwm-tacho";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x1e786000 0x1000>;
		clocks = <&pwm_tacho_fixed_clk>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
			&pinctrl_pwm2_default &pinctrl_pwm3_default>;

		fan@0 {
			reg = <0x00>;
			aspeed,fan-tach-ch = /bits/ 8 <0x00>;
		};

		fan@1 {
			reg = <0x01>;
			aspeed,fan-tach-ch = /bits/ 8 <0x01>;
		};

		fan@2 {
			reg = <0x02>;
			aspeed,fan-tach-ch = /bits/ 8 <0x02>;
		};

		fan@3 {
			reg = <0x03>;
			aspeed,fan-tach-ch = /bits/ 8 <0x03>;
		};

		fan@4 {
			reg = <0x00>;
			aspeed,fan-tach-ch = /bits/ 8 <0x04>;
		};

		fan@5 {
			reg = <0x01>;
			aspeed,fan-tach-ch = /bits/ 8 <0x05>;
		};

		fan@6 {
			reg = <0x02>;
			aspeed,fan-tach-ch = /bits/ 8 <0x06>;
		};

		fan@7 {
			reg = <0x03>;
			aspeed,fan-tach-ch = /bits/ 8 <0x07>;
		};
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
#include "aspeed-bmc-opp-flash-layout.dtsi"
	};
};

&spi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
	};
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_vgahs_default &pinctrl_vgavs_default
			&pinctrl_ddcclk_default &pinctrl_ddcdat_default>;
};

&mac0 {
	status = "okay";

	use-ncsi;
	no-hw-checksum;
};

&mac1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&uart5 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	/* temp2 inlet */
	tmp75@4c {
		compatible = "ti,tmp75";
		reg = <0x4c>;
	};

	/* temp3 */
	tmp75@4e {
		compatible = "ti,tmp75";
		reg = <0x4e>;
	};

	/* temp1 */
	tmp75@4f {
		compatible = "ti,tmp75";
		reg = <0x4f>;
	};

	/* Memory Riser 1/5 FRU */
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};

	/* Memory Riser 2/6 FRU */
	eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
	};

	/* Memory Riser 3/7 FRU */
	eeprom@52 {
		compatible = "atmel,24c02";
		reg = <0x52>;
	};

	/* Memory Riser 4/8 FRU */
	eeprom@53 {
		compatible = "atmel,24c02";
		reg = <0x53>;
	};

	/* Baseboard FRU */
	eeprom@54 {
		compatible = "atmel,24c64";
		reg = <0x54>;
	};

	/* FP FRU */
	eeprom@57 {
		compatible = "atmel,24c64";
		reg = <0x57>;
	};
};

&i2c2 {
	status = "okay";

	/* 0: PCIe Slot 2,
	 *    Slot 3,
	 *    Slot 6,
	 *    Slot 7
	 */
	i2c-switch@74 {
		compatible = "nxp,pca9546";
		reg = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/* 0: PCIe Slot 1,
	 *    Slot 4,
	 *    Slot 5,
	 *    Slot 8,
	 *    Slot 9,
	 *    Slot 10,
	 *    SSD 1,
	 *    SSD 2
	 */
	i2c-switch@77 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x77>;
	};
};

&i2c3 {
	status = "okay";

	/* BIOS FRU */
	eeprom@56 {
		compatible = "atmel,24c64";
		reg = <0x56>;
	};
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";

	/* 0: PSU4
	 *    PSU1
	 *    PSU3
	 *    PSU2
	 */
	i2c-switch@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/* PDB FRU */
	eeprom@52 {
		compatible = "atmel,24c64";
		reg = <0x52>;
	};
};

&i2c8 {
	status = "okay";

	/* BMC FRU */
	eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
	};
};

&vuart {
	status = "okay";
};

&wdt2 {
	status = "okay";
};
