/dts-v1/;

#include "ast2400.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Palmetto BMC";
	compatible = "tyan,palmetto-bmc", "aspeed,ast2400";

	ahb {
		apb {
			i2c: i2c@1e78a040 {
				i2c0: i2c-bus@40 {
					eeprom@50 {
						compatible = "atmel,24c256";
						reg = <0x50>;
						pagesize = <64>;
					};
					rtc@68 {
						compatible = "dallas,ds3231";
						reg = <0x68>;
						// interrupts = <GPIOF0>
					};
				};

				i2c2: i2c-bus@c0 {
					tmp423@4c {
						compatible = "ti,tmp423";
						reg = <0x4c>;
					};
				};
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		heartbeat {
			gpios = <&gpio 140 GPIO_ACTIVE_LOW>;
		};

		power {
			gpios = <&gpio 141 GPIO_ACTIVE_LOW>;
		};

		identify {
			gpios = <&gpio 2 GPIO_ACTIVE_LOW>;
		};

	};
};
