// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2019 Quanta Computer lnc. Fran.Hsu@quantatw.com

/dts-v1/;
#include "nuvoton-npcm730.dtsi"
#include "nuvoton-npcm730-gsj-gpio.dtsi"
/ {
	model = "Quanta GSJ Board (Device Tree v12)";
	compatible = "nuvoton,npcm750";

	aliases {
		ethernet0 = &emc0;
		ethernet1 = &gmac0;
		serial3 = &serial3;
		udc9 = &udc9;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c8 = &i2c8;
		i2c9 = &i2c9;
		i2c10 = &i2c10;
		i2c11 = &i2c11;
		i2c12 = &i2c12;
		i2c15 = &i2c15;
		fiu0 = &fiu0;
	};

	chosen {
		stdout-path = &serial3;
	};

	memory {
		reg = <0 0x40000000>;
	};

	ahb {
		gmac0: eth@f0802000 {
			phy-mode = "rgmii-id";
			status = "okay";
		};

		mc: memory-controller@f0824000 {
			compatible = "nuvoton,npcm7xx-sdram-edac";
			reg = <0xf0824000 0x1000>;
			interrupts = <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
		};

		emc0: eth@f0825000 {
			phy-mode = "rmii";
			use-ncsi;
			status = "okay";
		};

		ehci1: usb@f0806000 {
			status = "okay";
		};

		ohci1: ohci@f0807000 {
			status = "okay";
		};

		udc9:udc@f0839000 {
			status = "okay";
		};

		aes:aes@f0858000 {
			status = "okay";
		};

		sha:sha@f085a000 {
			status = "okay";
		};

		fiu0: fiu@fb000000 {
			pinctrl-names = "default";
			pinctrl-0 = <&spi0cs1_pins>;
			status = "okay";
			spi-nor@0 {
				compatible = "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				spi-rx-bus-width = <2>;
				partitions@80000000 {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					bmc@0{
						label = "bmc";
						reg = <0x000000 0x2000000>;
					};
					u-boot@0 {
						label = "u-boot";
						reg = <0x0000000 0x80000>;
						read-only;
					};
					u-boot-env@100000{
						label = "u-boot-env";
						reg = <0x00100000 0x40000>;
					};
					kernel@200000 {
						label = "kernel";
						reg = <0x0200000 0x600000>;
					};
					rofs@800000 {
						label = "rofs";
						reg = <0x800000 0x1400000>;
					};
					rwfs@1c00000 {
						label = "rwfs";
						reg = <0x1c00000 0x300000>;
					};
					reserved@1f00000 {
						label = "reserved";
						reg = <0x1f00000 0x100000>;
					};
				};
			};
		};

		pcimbox: pcimbox@f0848000 {
			status = "okay";
		};

		apb {

			watchdog1: watchdog@901C {
				status = "okay";
			};

			rng: rng@b000 {
				status = "okay";
			};

			serial0: serial@1000 {
				status = "okay";
			};

			serial1: serial@2000 {
				status = "okay";
			};

			serial2: serial@3000 {
				status = "okay";
			};

			serial3: serial@4000 {
				status = "okay";
			};

			adc: adc@c000 {
				status = "okay";
			};
			otp:otp@189000 {
				status = "okay";
			};

			i2c1: i2c@81000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
				lm75@5c {
					compatible = "maxim,max31725";
					reg = <0x5c>;
					status = "okay";
				};
			};

			i2c2: i2c@82000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
				lm75@5c {
					compatible = "maxim,max31725";
					reg = <0x5c>;
					status = "okay";
				};
			};

			i2c3: i2c@83000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
				lm75@5c {
					compatible = "maxim,max31725";
					reg = <0x5c>;
					status = "okay";
				};
			};

			i2c4: i2c@84000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
				lm75@5c {
					compatible = "maxim,max31725";
					reg = <0x5c>;
					status = "okay";
				};
			};

			i2c8: i2c@88000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
			};

			i2c9: i2c@89000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
				eeprom@55 {
					compatible = "atmel,24c64";
					reg = <0x55>;
				};
			};

			i2c10: i2c@8a000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
				eeprom@55 {
					compatible = "atmel,24c64";
					reg = <0x55>;
				};
			};

			i2c11: i2c@8b000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";

				/* P12V Quarter Brick DC/DC Power Module Q54SH12050 @60 */
				power-brick@36 {
					compatible = "delta,dps800";
					reg = <0x36>;
				};

				hotswap@15 {
					compatible = "ti,lm5066i";
					reg = <0x15>;
				};
			};

			i2c12: i2c@8c000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";
				ucd90160@6b {
					compatible = "ti,ucd90160";
					reg = <0x6b>;
				};
			};

			i2c15: i2c@8f000 {
				#address-cells = <1>;
				#size-cells = <0>;
				bus-frequency = <100000>;
				status = "okay";

				i2c-switch@75 {
					compatible = "nxp,pca9548";
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0x75>;
					i2c-mux-idle-disconnect;

					i2c_u20: i2c@0 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0>;
					};

					i2c_u21: i2c@1 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <1>;
					};

					i2c_u22: i2c@2 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <2>;
					};

					i2c_u23: i2c@3 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <3>;
					};

					i2c_u24: i2c@4 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <4>;
					};

					i2c_u25: i2c@5 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <5>;
					};

					i2c_u26: i2c@6 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <6>;
					};

					i2c_u27: i2c@7 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <7>;
					};
				};
			};

			pwm_fan:pwm-fan-controller@103000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pwm0_pins &pwm1_pins &pwm2_pins
						&fanin0_pins &fanin1_pins
						&fanin2_pins &fanin3_pins
						&fanin4_pins &fanin5_pins>;
				status = "okay";

				fan@0 {
					reg = <0x00>;
					fan-tach-ch = /bits/ 8 <0x00 0x01>;
					cooling-levels = <127 255>;
				};

				fan@1 {
					reg = <0x01>;
					fan-tach-ch = /bits/ 8 <0x02 0x03>;
					cooling-levels = /bits/ 8 <127 255>;
				};

				fan@2 {
					reg = <0x02>;
					fan-tach-ch = /bits/ 8 <0x04 0x05>;
					cooling-levels = /bits/ 8 <127 255>;
				};
			};

		};
	};

};
